[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pylint = "*"
dj-database-url = "*"
whitenoise = "*"
gunicorn = "*"
"psycopg2" = "*"

[dev-packages]
pylint = "*"
rope = "*"

[requires]
python_version = "3.6"
